---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

{% if page.author == nil %}
	{% assign author = site.author %}
{% else %}
	{% assign author = page.author %}
{% endif %}

{% assign blog_url = 'blog/' %}

<!-- Section Started Heading -->
<section class="section section-inner started-heading">

	<!-- Heading -->
	<div class="container">
		<div class="m-titles align-left">
			<h1 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
				<span>{{ page.title }}</span>
			</h1>
		</div>
	</div>

	<!-- Details -->
	<div class="v-line v-line-right v-line-top">
		<div class="container">

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

					<div class="m-details">
						{% for info in page.info %}
						<div class="details-label">
							<span>{{ info.label }}</span>
							<strong><span>{{ info.value }}</span></strong>
						</div>
						{% endfor %}
						<div class="details-label">
							<span>{{ ui_text.categories }}</span>
							<strong><span>{{ page.category }}</span></strong>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

</section>

{% if page.full_image != nil %}
<!-- Section - Image -->
<div class="section section-inner">

	<!-- Image -->
	<div class="m-image-large">
		<div class="image">
			<div class="img js-parallax" style="background-image: url({{ page.full_image | relative_url }});"></div>
		</div>
	</div>

</div>
{% endif %}

{% if page.description1.title != nil or page.description1.text1 != nil or page.description1.text2 != nil %}
<!-- Section - description1 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description1.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description1.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description1.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section - description1 -->
{% endif %}

<!-- Section - Gallery description1 -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description1-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOL Section - Gallery description1 -->

{% if page.description2.title != nil or page.description2.text1 != nil or page.description2.text2 != nil %}
<!-- Section - description2 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description2.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h5>{{ page.description2.text1 }}</h5>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description2.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section - description2 -->
{% endif %}

{% if page.description3.title != nil or page.description3.text1 != nil or page.description3.text2 != nil %}
<!-- Section - description3 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description3.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description3.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description3.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section - description3 -->
{% endif %}

<!-- Section - Gallery description3 One -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description3-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOF Section - Gallery description3 One -->

{% if page.description4.title != nil or page.description4.text1 != nil or page.description4.text2 != nil %}
<!-- Section - description4 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description4.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description4.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description4.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section - description4 -->
{% endif %}

<!-- Section - Gallery description4 One -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description4-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOF Section - Gallery description4 One-->

{% if page.description5.title != nil or page.description5.text1 != nil or page.description5.text2 != nil %}
<!-- Section - description5 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description5.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description5.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description5.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section - description5 -->
{% endif %}

<!-- Section - Gallery description5 One -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description5-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOF Section - Gallery description5 One -->

{% if page.description6.title != nil or page.description6.text1 != nil or page.description6.text2 != nil %}
<!-- Section - description6 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description6.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description6.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description6.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section - description6-->
{% endif %}

<!-- Section - Gallery description6 One -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description6-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOF Section -Gallery description6 One -->

{% if page.description7.title != nil or page.description7.text1 != nil or page.description7.text2 != nil %}
<!-- Section - description7 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description7.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description7.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description7.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section - description7 -->
{% endif %}

<!-- Section - Gallery description7 One -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description7-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOF Section - Gallery description7 One -->

{% if page.description8.title != nil or page.description8.text1 != nil or page.description8.text2 != nil %}
<!-- Section - description8 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description8.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description8.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description8.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section - description8 -->
{% endif %}

<!-- Section - Gallery description8 One -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description8-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOF Section - Gallery Gallery description8 One -->

{% if page.video-description8-one.id != nil %}
<!-- Section - Video description8 One -->
<div class="section section-inner m-video-large">
	<div class="video">
		<div class="img js-parallax" style="background-image: url({{ page.video-description8-one.poster | relative_url }});"></div>
		<iframe class="js-video-iframe" data-src="https://www.youtube.com/embed/{{ page.video-description8-one.id }}"></iframe>
		<div class="play"></div>
	</div>
</div>
{% endif %}
<!-- EOF Section - Video description8 One -->

{% if page.description9.title != nil or page.description9.text1 != nil or page.description9.text2 != nil %}
<!-- Section - description9 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description9.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description9.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description9.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section -  description9 -->
{% endif %}

<!-- Section - Gallery description9 One -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description9-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOF Section - Gallery description9 One -->


{% if page.description10.title != nil or page.description10.text1 != nil or page.description10.text2 != nil %}
<!-- Section - description10 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description10.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description10.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description10.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section -  description10 -->
{% endif %}

<!-- Section - Gallery description10 One -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description10-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOF Section - Gallery description10 One-->


{% if page.description11.title != nil or page.description11.text1 != nil or page.description11.text2 != nil %}
<!-- Section - description11 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description11.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description11.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description11.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section -  description11 -->
{% endif %}

<!-- Section - Gallery description11 One -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description11-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOF Section - Gallery description11 One -->


{% if page.description12.title != nil or page.description12.text1 != nil or page.description12.text2 != nil %}
<!-- Section - description12 -->
<section class="section section-inner">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					<h4>{{ page.description12.title }}</h4>
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description12.text1 }}
				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class="post-content">
					{{ page.description12.text2 }}
				</div>

			</div>
		</div>

	</div>
</section>
<!-- EOL Section -  description12 -->
{% endif %}

<!-- Section - Gallery description12 One -->
<div class="section section-inner">
	<div class="container">
		<div class="m-gallery">
			<div class="row">
				{% for image in page.gallery-description12-one %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="works-item">
						<div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="img">
								<a href="{{ image | relative_url }}" class="has-popup-image">
									<img decoding="async" src="{{ image | relative_url }}" alt="image" loading="lazy">
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>
</div>
<!-- EOL Section - Gallery description12 -->



{% if page.previous.url or page.next.url %}
<!-- Section - Navigation -->
<div class="section section-inner m-page-navigation">
	<div class="container">
		<div class="h-titles h-navs">
			{% if page.next.url %}
			<a href="{{ page.next.url | relative_url }}">
				<span class="nav-arrow scrolla-element-anim-1 scroll-animate" data-animate="active">
					{{ ui_text.next_project }}
				</span>
				<span class="h-title splitting-text-anim-2 scroll-animate" data-splitting="chars" data-animate="active">
					{{ page.next.title }}
				</span>
			</a>
			{% else %}
			<a href="{{ page.previous.url | relative_url }}">
				<span class="nav-arrow scrolla-element-anim-1 scroll-animate" data-animate="active">
					{{ ui_text.prev_project }}
				</span>
				<span class="h-title splitting-text-anim-2 scroll-animate" data-splitting="chars" data-animate="active">
					{{ page.previous.title }}
				</span>
			</a>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
